.avatar {
  border-radius: 50px;
  height: 35px;
  width: 35px;
  margin-right: 5px;
}

.btn-action {
  cursor: pointer;
  margin: 5px;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
